/*////////////// Fonts //////////////*/

@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
	font-family: 'Baskerville', serif;
	color: rgb(152,173,166);
	font-size: 5em;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin: 0px 0px 5px;
}

h2 {
	color: rgb(111,127,122);
	font-size: 2em;
}

p {
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
}

img {
	border-width: 5px;
	border-style: solid;
	border-color: rgb(152,173,166);
}
